.{
    margin:0;
    padding:0;
}
nav{
    background-color:#000000;
    color:white;
    padding:15px;
}
li,h1,ul{
    display:inline;
}
ul{
     margin-left:40%;
}
li{
    color:gray;
}
li:hover{
    color:white;
}
div{
    background-color:#8BE794;
    
}
nav{
    position:sticky;
    top:0;
}
